@charset "UTF-8";
/* CSS Document */

body {
	border:0;
	margin:0;
	padding:0;
	height:100%;
	font-family:Helvetica, Arial, sans-serif;
	color:#fff;
	background-color:#fff;
}

html {
	height:100%;
}

#header-container {
	width:100%;
	height:75px;
	background-color:#000;
}

#header {
	width:960px;
	margin:0 auto;
}

#logo {
	width:100px;
	height:75px;
	float:left;
}

#logo img {
	border:0;
}

#title {
	float:left;
	padding-left:25px;
	height:75px;
	width:173px;
}

#title img {
	border:0;
}

#nav-container {
	width:100%;
	height:35px;
	background-color:#3399cc;
}

#nav {
	width:960px;
	height:100%;
	margin:0 auto;
}

#nav ul {
	margin:0;
	margin-left: -35px;
	padding-top:10px;
	float:left;
}

#nav ul li {
	display: inline-block;
	list-style-type:none;
	margin:0;
}

#nav ul li a {
	text-decoration:none;
	width:80px;
	color:#fff;
	float:left;
	text-align:left;
	text-transform:uppercase;
}

#nav ul li a:hover {
	text-decoration:underline;
}

#slider-container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px;
}

#slider {
	height:100;
	float:left;
}


#footer-container {
	width:100%;
	position:absolute;
	top:1008px;
	height:90px;
	background-color:#3399cc;
	margin:0 auto;
	/*padding-left:200px;*/
}


#footer {
	width:960px;
	padding-left:200px;
	margin:0 auto;
	position:absolute;
	bottom:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform:capitalize;
	float:left;
	background-color:#3399cc;
}

#footer a {
	text-decoration:none;
	color:#FFF;
}
#footer a:hover {
	text-decoration:underline;
}
#footer a:visited{
	text-decoration:none;
	color:#fff;
}

#footer ul {
	margin-left:0px;
}

#footer ul a: {
	text-decoration:none;
	color:#FFF;
}

#footer-left {
	height:100%;
	width:200px;
	float:left;
}

#footer-left ul {
	list-style-type:none;
}

#footer-right {
	height:100%;
	width:300px;
	float:right;
	margin-right:-50px;
	
}

#content {
	width:960px;
	margin: 0 auto;
	height:800px;
	background-color: #fff;
	padding-top:30px;
	color:#000;
}

#attributes {
	width:200px;
	float:left;
	margin-right:15px;
}

#attributes img {
	width:200px;
}

#attributes ul li {
    font-size: .9em;
    padding: 0 0 2px 7px;
    word-wrap: break-word;
	list-style-image:url(images/bullet.jpg);
	margin-left:-28px;
}

#main {
	padding-left: 30px;
	float:left;
	width:540px;
}

#photos, #videos {
	float:left;
	width:250;
	padding-right:20px;
	margin-bottom:20px;
}

#photos img {
	height:141px;
	width:250px;
	overflow:hidden;
}

.rel {
	float:left;
	width:250;
	padding-right:20px;
}

.rel img{
	height:100px;
	width:100px;
}

#list {
	width:600px;
	margin:0 auto;
}

#list img {
	height: 100px;
	width: 100px;
	margin-left: 20px;
	float:right;
}

#list h4 {
	margin:0;
}



/* Text */
h1 {
    font-size: 2.4em;
	margin:0;
	margin-bottom: 5px;
}

h2 {
    font-size: 1.8em;
	margin:0;
}

h3 {
    font-size: 1.4em;
	margin:5px 0px;
}

h4 {
    font-size: 1.3em;
	margin:5px;

}

h5 {
    font-size: 1.2em;
	margin:0px;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1em;
    font-weight: 350;
    line-height: 1.2em;
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, .capitalize {
    text-transform: capitalize;
}

a {
	color:#3399cc;
}

/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo  {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo  img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:225px;
	bottom:600px;
	background:#000;
	color:#fff;
	width:250px;
	height:200px;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.5;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
	-webkit -sizing: border ; /* Safari/Chrome, other WebKit */
	-moz -sizing: border ;    /* Firefox, other Gecko */
	box-sizing: border ;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
