<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>World Crises</title>
<link rel="stylesheet" type="text/css" a href="/style/style.css" />
<script type="text/javascript" src="scripts/typeface-0.15.js"></script>
<script type="text/javascript" src="scripts/district_thin.typeface.js"></script>
<script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>

</head>
<!-- begin header -->
<div id = "header-container">
   <div id = "header">
     <div id="logo"><a href="..index.html"><img src="/images/logo.jpg" /></a></div>
     <div id="title"><a href="..index.html"><img src="/images/title.png" /></a></div>
     <div id="names"><p>&copy; 'Byte Me' 2012<br />
          Connor, Daniel, Kevin J., Calvin, Kevin T.</p></div>
   </div>
</div><!-- end header -->

<!-- begin navbar -->
<div id="nav-container">
   <div id ="nav">
     <ul>
       <li><a href="/index.html">Home</a></li>
       <li><a href="/crises">Crises</a></li>
       <li><a href="/people">People</a></li>
       <li><a href="/orgs">Orgs</a></li>
    	<li><a href="../import">Import</a></li>
        <li><a href="../export">Export</a></li>
        <li><a href="../test">Tests</a></li>
	 </ul>
   </div>
</div><!-- end navbar -->

<body>
    
 <!-- begin content -->
   <div id="content">
        <!-- begin attributes -->
        <div id="attributes">
            <div class="primary-photo">
                <img src="http://2.bp.blogspot.com/--S0bgE12ohM/TrQUIGj7NSI/AAAAAAAAAPg/5aBsjD2csgM/s1600/023-0617131539-greek-economy-crisis2.jpg" title="Political Cartoon" />
            </div>
            <ul>
         	<li><strong>Date: </strong>1/1/2009</li>
        	<li><strong>Type: </strong>Debt crisis that could lead to problems in the Eurozone</li>
        	<li><strong>Location: </strong> </li>
            </ul>
            <!-- begin stats -->
            <div class="stats">
            <h4>Economic Impact</h4>
            <ul>
         	<li>240000000000 Euros</li>
            </ul>
            <h4>Human Impact</h4>
                <ul>
                    <li><strong>Deaths: </strong>5</li>
                    <li><strong>Displaced: </strong>0</li>
                    <li><strong>Injured: </strong>300</li>
                    <li><strong>Missing: </strong>0</li>
                    <li><strong>Misc: </strong>0</li>
                </ul>
            <h4>Resources Needed</h4>
                <ul>
         	    <li>Bailouts from EU and IMF</li>
		</ul>
	    <h4>Help Needed</h4>
                <ul>
         	    <li>Bailout from IMF and EU</li>
		</ul>
                
                <h5>Social Sites</h5>
                    <ul class="capitalize">
                        <li><a href="https://www.facebook.com/GreeceDebtFree" title="Facebook" target="_blank">Facebook</a></li>  
                    </ul>
                

                
                <h5>Social Sites</h5>
                    <ul class="capitalize">
                        <li><a href="http://www.cnn.com/2010/BUSINESS/02/10/greek.debt.qanda/index.html" title="CNN" target="_blank">CNN</a></li>  
                    </ul>
                
                
            </div>
            <!-- end stats -->
            
        </div>
        <!-- end attributes -->
        
        <!-- begin primary content -->
        <div id="primary-content">
            <!-- begin Page Title -->
            <h1 id="page-title"></h1>
            <h2>History</h2>
            <p>Greece was living beyond its means before adopting the Euro and after adopting the Euro public spending significantly rose. After years of overspending, Greece’s budget deficit spiraled out of control, which left Greece unprepared to handle the global economic downturn. Greece’s debt reached levels so high that it was unable to pay, so required massive loans from European partners and the IMF </p>
            <!-- end primary content -->
            <!-- begin media -->
            <div id="media">
                <!-- begin photos -->
                <div id="photos" class="half">
                    <h3>Photos</h3>
                    <div id="photo-box">
                        <!-- begin single item -->
                        
                        <div class="item-box">
                            <div class="display-box">
                                    <img src="http://cdn.theatlantic.com/static/infocus/athens021312/s_a06_10125965.jpg" title="Rioting in Greece" />
                            </div>
                        </div>
                        
                        <!-- end single item -->
                    </div>
                </div>
                <!-- end photos -->
                <!-- begin videos -->
                <div id="videos" class="half">
                    <h3>Videos</h3>
                    <div id="video-box">
                        <!-- Video width: 135px, height: 82px -->
                        <!-- begin single item -->
                        
                        <div class="item-box">
                            <div class="display-box">
                                <iframe width="400" height="200" src="http://www.youtube.com/embed/mEVqeaFHsHE" frameborder="0" allowfullscreen></iframe>
                            </div>                        
                        </div>
                        
                        <!-- end single item -->
                    </div>
                </div>
                <!-- end videos -->
            </div>
            <!-- end media -->
            <!-- Start history -->
            <!-- end history -->
            <!-- begin related people -->
            <div class="people">
                <h2>Related People</h2>
                <!-- begin single item -->
                <div class="item-box">
                    <div class="display-box">
                        <a href="/person/papandreou" title="Former Prime Minister of Greece George Papandreou"><img src="http://www.ahistoryofgreece.com/biography/giorgospapandreou.jpg" title="Former Prime Minister of Greece George Papandreou"/></a>
                    </div>
                </div>
                <!-- end single item -->
            </div>
            <!-- end related crises -->
            <!-- begin related organizations -->
            <div class="organizations">
                <h2>Related Organizations</h2>
                <!-- begin single item -->
                <div class="item-box">
                    <div class="display-box">
                        <a href="/org/imf" title="International Monetary Fund"><img src="http://upload.wikimedia.org/wikipedia/en/thumb/7/7e/International_Monetary_Fund_logo.svg/200px-International_Monetary_Fund_logo.svg.png" title="International Monetary Fund" /></a>
                    </div>
                </div>
                <!-- end single item -->
            </div>
            <!-- end related organizations -->
        </div>
        <!-- end primary content -->
    </div>
</body>
</html>
