<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>World Crises</title>
<link rel="stylesheet" type="text/css" a href="/style/style.css" />
<link rel="icon" type="image/png" href="images/favicon.png">
<script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.nivo.slider.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider();
	});
</script>
</head>

<body>
<div id = "wrap">
<!-- begin header -->
<div id = "header-container">
   <div id = "header">
     <div id="logo"><a href="/index.html"><img src="/images/logo.jpg" /></a></div>
     <div id="title"><a href="/index.html"><img src="/images/title.png" /></a></div>
	 <div id="search">
     	<form id="search-form" method="get" action="/search">
        	<input type="text" name="q" id="search-box" placeholder="Search everything, here." />
     	</form>
	</div> 
</div><!-- end header -->

<!-- begin navbar -->
<div id="nav-container">
  <div id ="nav">
    <ul id="menu">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/crises">Crises</a></li>
      <li><a href="/people">People</a></li>
      <li><a href="/orgs">Organizations</a></li>  	
	  <li><a href="/import">Import</a></li>
      <li><a href="/importmerge">Merge</a></li>
      <li><a href="/export">Export</a></li>
      <li><a href="/test">Tests</a></li>
    </ul>
  </div>
</div><!-- end navbar -->

  <!-- begin navbar -->
  <div id="nav-container">
    <div id ="nav">
      <ul id="menu">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/crises">Crises</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/orgs">Organizations</a></li>  	
	    <li><a href="/import">Import</a></li>
        <li><a href="/importmerge">Merge</a></li>
        <li><a href="/export">Export</a></li>
        <li><a href="/test">Tests</a></li>
      </ul>
    </div>
  </div><!-- end navbar -->

  <!-- content-container -->
  <div id="content-container">
    <!-- begin content -->
     <div id="content">
       <!-- begin attributes -->
       <div id="attributes">
         <img src="{{c.pimage.url}}" title="{{c.pimage.title}}" class="primary"/>
         <ul>
           <li><strong>Date: </strong>{{c.time.month}}/{{c.time.day}}/{{c.time.year}}</li>
           <li><strong>Type: </strong>{{c.info.info_type}}</li>
           <li><strong>Location: </strong>{{c.loc.city}} </li>
         </ul>
            <!-- begin stats -->
            <div class="stats">
            <h4>Economic Impact</h4>
            <ul>
         	<li>{{c.economic.amount}} {{c.economic.currency}}</li>
            </ul>
            <h4>Human Impact</h4>
                <ul>
                    <li><strong>Deaths: </strong>{{c.human.deaths}}</li>
                    <li><strong>Displaced: </strong>{{c.human.displaced}}</li>
                    <li><strong>Injured: </strong>{{c.human.injured}}</li>
                    <li><strong>Missing: </strong>{{c.human.missing}}</li>
                    <li><strong>Misc: </strong>{{c.human.misc}}</li>
                </ul>
            <h4>Resources Needed</h4>
                <ul>
         	    <li>{{c.info.resources}}</li>
		</ul>
	    <h4>Help Needed</h4>
                <ul>
         	    <li>{{c.info.info_help}}</li>
		</ul>
				<h4>Social Sites</h4>
                {% for r in c.socials %}
                
                    <ul class="capitalize">
                        <li><a href="{{r.url}}" title="{{r.title}}" target="_blank">{{r.title}}</a></li>  
                    </ul>
                {% endfor %}
				
				<h4>External Links</h4>
                {% for r in c.exts %}
                
                    <ul class="capitalize">
                        <li><a href="{{r.url}}" title="{{r.title}}" target="_blank">{{r.title}}</a></li>  
                    </ul>
                {% endfor %}
                
            </div>
            <!-- end stats -->
            
        </div>
        <!-- end attributes -->
        
        <!-- begin primary content -->
        <div id="primary-content">
            <!-- begin Page Title -->
            <h2>History</h2>
            <p>{{c.info.history}}</p>
            <!-- begin media -->
            <div class="media">
                <!-- begin photos -->
                <h3>Photos</h3>
                <div class="photos">
                   <!-- begin single item -->
                   {% for i in c.images %}
                    	<a href="{{i.url}}" title="{{i.title}}" /><img src="{{i.url}}" title="{{i.title}}"/></a>
                    {% endfor %}
                    <!-- end single item -->
                </div><!-- end photos -->
             </div>
			 <div class="media">
                <!-- begin videos -->
                <div class="videos">
                   <h3>Videos</h3>
				   <!-- Video width: 135px, height: 82px -->
                   <!-- begin single item -->
                   {% for v in c.videos %}
						<iframe width="240" height="240" src="{{v.url}}" frameborder="0" allowfullscreen></iframe>
                   {% endfor %}
                        <!-- end single item -->
                 </div><!-- end videos -->
              </div><!--end media -->
          <!-- begin related item -->
          <div class="rel">
          <h3>Related People</h3>
          <!-- begin single item -->
          <a href="/person/{{c.person.person_id}}" title="{{c.person.name}}"><img src="{{c.personimage.url}}" title="{{c.person.name}}"/></a>
		  </div><!-- end related item -->
		  
		  <!-- begin related organizations -->
          <div class="rel">
             <h3>Related Organizations</h3>
             <!-- begin single item -->
             <a href="/org/{{c.org.org_id}}" title="{{c.org.name}}"><img src="{{c.orgimage.url}}" title="{{c.org.name}}" /></a>  
             <!-- end single item -->
	       </div><!-- end related organizations -->            
         </div><!-- end primary content -->
	


  </div><!-- end content-container -->
<div id="sidebar">
	<h5>Top Crises</h5>
     <ul>
	   <li><a href="/crisis/deepwater">Deepwater Horizon Oil Spill</a></li>
	   <li><a href="/crisis/polio">Polio</a></li>
       <li><a href="/crisis/childhoodobesity">Childhood Obesity</a></li>
       <li><a href="/crisis/greece">Greece Debt Crisis</a></li>
      </ul>
	  <p><a href="/crises">More Crises>></a></p>
      <h5>Top People</h5>
      <ul>
	   <li><a href="/person/feinberg">Kenneth Feinberg</a></li>
	   <li><a href="/person/papandreou">George Papandreou</a></li>
       <li><a href="/crisis/michelleobama">Michelle Obama</a></li>
       <li><a href="/crisis/jonassalk">Jonas Salk</a></li>
      </ul>
	  <p><a href="/people">More People>></a></p>
	  <h5>Top Organizations</h5>
      <ul>
	   <li><a href="/org/bp">BP</a></li>
	   <li><a href="/org/tgpei">The Global Polio Eradication Initiative</a></li>
       <li><a href="/orgs/aap">The American Academy of Pediatrics</a></li>
       <li><a href="/orgs/imf">International Monetary Fund</a></li>
      </ul>
	  <p><a href="/orgs">More Organizations>></a></p>
	  <p>&copy; 'Byte Me' 2012<br />
          Connor, Daniel, Kevin J., Calvin, Kevin T.</p>
   </div>
</div><!-- end wrap -->
</body>
</html>

