<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>World Crises</title>
<link rel="stylesheet" type="text/css" a href="/style/style.css" />
<link rel="icon" type="image/png" href="images/favicon.png">
<script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.nivo.slider.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider();
	});
</script>
</head>

<body>
<div id = "wrap">
<!-- begin header -->
<div id = "header-container">
   <div id = "header">
     <div id="logo"><a href="/index.html"><img src="/images/logo.jpg" /></a></div>
     <div id="title"><a href="/index.html"><img src="/images/title.png" /></a></div>
	 <div id="search">
     	<form id="search-form" method="get" action="/search">
        	<input type="text" name="q" id="search-box" placeholder="Search everything, here." />
     	</form>
	</div> 
</div><!-- end header -->

<!-- begin navbar -->
<div id="nav-container">
  <div id ="nav">
    <ul id="menu">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/crises">Crises</a></li>
      <li><a href="/people">People</a></li>
      <li><a href="/orgs">Organizations</a></li>  	
	  <li><a href="/import">Import</a></li>
      <li><a href="/importmerge">Merge</a></li>
      <li><a href="/export">Export</a></li>
      <li><a href="/test">Tests</a></li>
    </ul>
  </div>
</div><!-- end navbar -->

  <!-- begin navbar -->
  <div id="nav-container">
    <div id ="nav">
      <ul id="menu">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/crises">Crises</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/orgs">Organizations</a></li>  	
	    <li><a href="/import">Import</a></li>
        <li><a href="/importmerge">Merge</a></li>
        <li><a href="/export">Export</a></li>
        <li><a href="/test">Tests</a></li>
      </ul>
    </div>
  </div><!-- end navbar -->

  <!-- content-container -->
  <div id="content-container">
    <!-- begin content -->
     <div id="content">
       <!-- begin attributes -->
       <div id="attributes">
         <img src="{{o.pimage.url}}" class="primary"/>
         <!-- begin stats -->
         <div class="stats">
            <ul>
                    <li><strong>Type: </strong>{{o.info.info_type}}</li>
                    <li><strong>Phone: </strong>{{o.contact.phone}}</li>
                    <li><strong>Email: </strong>{{o.contact.email}}</li>
                    <li><strong>Mail: </strong>{{o.mail.address}} <br>{{o.mail.city}}, {{o.mail.state}} {{o.mail.zip}} {{o.mail.country}}</li>
                </ul>

            {% for r in o.socials %}
                <h4>Social Sites</h4>
                    <ul class="capitalize">
                        <li><a href="{{r.url}}" title="{{r.title}}" target="_blank">{{r.title}}</a></li>
                    </ul>
                {% endfor %}

                {% for r in o.exts %}
                <h4>Social Sites</h4>
                    <ul class="capitalize">
                        <li><a href="{{r.url}}" title="{{r.title}}" target="_blank">{{r.title}}</a></li>
                    </ul>
                {% endfor %}

                
            </div>
            <!-- end stats -->
            
        </div>
        <!-- end attributes -->
        
        <!-- begin primary content -->
        <div id="primary-content">
            <!-- begin Page Title -->
            <h2>History</h2>
            <p>{{o.info.history}}</p>
            <!-- begin media -->
            <div class="media">
                <!-- begin photos -->
                <h3>Photos</h3>
                <div class="photos">
                   <!-- begin single item -->
                   {% for i in o.images %}
                    	<a href="{{i.url}}" title="{{i.title}}" /><img src="{{i.url}}" title="{{i.title}}"/></a>
                    {% endfor %}
                    <!-- end single item -->
                </div><!-- end photos -->
             </div>
			 <div class="media">
                <!-- begin videos -->
                <div class="videos">
                   <h3>Videos</h3>
				   <!-- Video width: 135px, height: 82px -->
                   <!-- begin single item -->
                   {% for v in o.videos %}
						<iframe width="240" height="240" src="{{v.url}}" frameborder="0" allowfullscreen></iframe>
                   {% endfor %}
                        <!-- end single item -->
                 </div><!-- end videos -->
              </div><!--end media -->
          <!-- begin related item -->
          <div class="rel">
          <h3>Related Crises</h3>
          <!-- begin single item -->
          <a href="/crisis/{{o.crisis.crisis_id}}" title="{{o.crisis.name}}"><img src="{{o.crisisimage.url}}" title="{{o.crisis.name}}"/></a>
		  </div><!-- end related item -->
		  
		  <!-- begin related organizations -->
          <div class="rel">
             <h3>Related People</h3>
             <!-- begin single item -->
             <a href="/person/{{o.person.person_id}}" title="{{o.person.name}}"><img src="{{o.personimage.url}}" title="{{o.person.name}}" /></a>
             <!-- end single item -->
	       </div><!-- end related organizations -->            
         </div><!-- end primary content -->
	


  </div><!-- end content-container -->

</div><!-- end wrap -->
</body>
</html>

