<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>World Crises</title>
<link rel="stylesheet" type="text/css" a href="/style/style.css" />
<script src="scripts/typeface-0.15.js"></script>
<script src="scripts/district_thin.typeface.js"></script>
<script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>

</head>

<!-- begin header -->
<div id = "header-container">
   <div id = "header">
     <div id="logo"><a href="..index.html"><img src="/images/logo.jpg" /></a></div>
     <div id="title"><a href="..index.html"><img src="/images/title.png" /></a></div>
     <div id="names"><p>&copy; 'Byte Me' 2012<br />
          Connor, Daniel, Kevin J., Calvin, Kevin T.</p></div>
   </div>
</div><!-- end header -->

<!-- begin navbar -->
<div id="nav-container">
   <div id ="nav">
     <ul>
       <li><a href="/index.html">Home</a></li>
       <li><a href="/crises">Crises</a></li>
       <li><a href="/people">People</a></li>
       <li><a href="/orgs">Orgs</a></li>
    	<li><a href="../import">Import</a></li>
        <li><a href="../export">Export</a></li>
        <li><a href="../test">Tests</a></li>
	 </ul>
   </div>
</div><!-- end navbar -->
<body>
    
 <!-- begin content -->
   <div id="content">
        <!-- begin attributes -->
        <div id="attributes">
            <div class="primary-photo">
                <img src="{{o.pimage.url}}" title="" />
            </div>
            <!-- begin stats -->
            <div class="stats">
                <ul>
                    <li><strong>Type: </strong>{{o.info.info_type}}</li>
                    <li><strong>Phone: </strong>{{o.contact.phone}}</li>
                    <li><strong>Email: </strong>{{o.contact.email}}</li>
                    <li><strong>Mail: </strong>{{o.mail.address}} <br>{{o.mail.city}}, {{o.mail.state}} {{o.mail.zip}} {{o.mail.country}}</li>
                </ul>
                
                {% for r in o.socials %}
                <h5>Social Sites</h5>
                    <ul class="capitalize">
                        <li><a href="{{r.url}}" title="{{r.title}}" target="_blank">{{r.title}}</a></li>
                    </ul>
                {% endfor %}

                {% for r in o.exts %}
                <h5>Social Sites</h5>
                    <ul class="capitalize">
                        <li><a href="{{r.url}}" title="{{r.title}}" target="_blank">{{r.title}}</a></li>
                    </ul>
                {% endfor %}
                
            </div>
            <!-- end stats -->
            
        </div>
        <!-- end attributes -->
        
        <!-- begin primary content -->
        <div id="primary-content">
            <!-- begin Page Title -->
            <h1 id="page-title">{{o.org.name}}</h1>
            <h2>History</h2>
            <p>{{o.info.history}}</p>
            <!-- end primary content -->
            <!-- begin media -->
            <div id="media">
                <!-- begin photos -->
                <div id="photos" class="half">
                    <h3>Photos</h3>
                    <div id="photo-box">
                        
                        <!-- begin single item -->
                        {% for i in o.images %}
                        <div class="item-box">
                            <div class="display-box">
                                    <img src="{{i.url}}" title="{{i.title}}" />
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end single item -->
                        
                    </div>
                    <!-- begin more link -->
                    
                    <!-- end more link -->
                </div>
                <!-- end photos -->
                <!-- begin videos -->
                <div id="videos" class="half">
                    <h3>Videos</h3>
                    <div id="video-box">
                        <!-- Video width: 135px, height: 82px -->
                        
         
                        
                        <!-- begin single item -->
                        {% for v in o.videos %}
                        <div class="item-box">
                            <div class="display-box">
                                <iframe width="400" height="200" src="{{v.url}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end single item -->
                        
                        
                        
                    </div>
                    
                    <!-- begin more link -->
                    
                    <!-- end more link -->
                </div>
                <!-- end videos -->
            </div>
            <!-- end media -->
            <!-- begin related crises -->
            <div class="crises">
                <h2>Related Crises</h2>
                
                
                <!-- begin single item -->
                <div class="item-box">
                    <div class="display-box">
                        <a href="/crisis/{{o.crisis.crisis_id}}" title="{{o.crisis.name}}"><img src="{{o.crisisimage.url}}" title="{{o.crisis.name}}"/></a>
                    </div>
                </div>
                <!-- end single item -->
            </div>
            <!-- end related crises -->
            <!-- begin related organizations -->
            <div class="people">
                <h2>Related People</h2>
                <!-- begin single item -->
                <div class="item-box">
                    <div class="display-box">
                        <a href="/person/{{o.person.person_id}}" title="{{o.person.name}}"><img src="{{o.personimage.url}}" title="{{o.person.name}}" /></a>
                    </div>
                </div>
                <!-- end single item -->
            </div>
            <!-- end related organizations -->
            
            
        </div>
        <!-- end primary content -->
    </div>
    
</body>
</html>
