<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>World Crises</title>
<link rel="stylesheet" type="text/css" a href="/style/style.css" />
<script src="scripts/typeface-0.15.js"></script>
<script src="scripts/district_thin.typeface.js"></script>
<script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>

</head>
    
<!-- begin header -->
<div id = "header-container">
   <div id = "header">
     <div id="logo"><a href="..index.html"><img src="/images/logo.jpg" /></a></div>
     <div id="title"><a href="..index.html"><img src="/images/title.png" /></a></div>
     <div id="names"><p>&copy; 'Byte Me' 2012<br />
          Connor, Daniel, Kevin J., Calvin, Kevin T.</p></div>
   </div>
</div><!-- end header -->

<!-- begin navbar -->
<div id="nav-container">
   <div id ="nav">
     <ul>
       <li><a href="/index.html">Home</a></li>
       <li><a href="/crises">Crises</a></li>
       <li><a href="/people">People</a></li>
       <li><a href="/orgs">Orgs</a></li>
    	<li><a href="../import">Import</a></li>
        <li><a href="../export">Export</a></li>
        <li><a href="../test">Tests</a></li>
	 </ul>
   </div>
</div><!-- end navbar -->

 <!-- begin content -->
   <div id="content">
        <!-- begin attributes -->
        <div id="attributes">
            <div class="primary-photo">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Michelle_Obama_official_portrait_headshot.jpg/225px-Michelle_Obama_official_portrait_headshot.jpg" title="Michelle Obama" />
            </div>
            <!-- begin stats -->
            <div class="stats">
                <ul>
                    <li><strong>Type: </strong>Current First Lady</li>
                    <li><strong>Nationality: </strong>American</li>
                </ul>
                
                
                <h5>Social Sites</h5>
                    <ul class="capitalize">
                        <li><a href="http://www.facebook.com/michelleobama" title="Michelle Obama's Facebook Page" target="_blank">Michelle Obama's Facebook Page</a></li>  
                    </ul>
                

                
                <h5>Social Sites</h5>
                    <ul class="capitalize">
                        <li><a href="http://en.wikipedia.org/wiki/Michelle_Obama" title="Michelle Obama's Wikipedia Entry" target="_blank">Michelle Obama's Wikipedia Entry</a></li>  
                    </ul>
                
                
            </div>
            <!-- end stats -->
            
        </div>
        <!-- end attributes -->
        
        <!-- begin primary content -->
        <div id="primary-content">
            <!-- begin Page Title -->
            <h1 id="page-title">First Lady Michelle LaVaughn Robinson Obama</h1>
            <h2>Bio</h2>
            <p>Michelle LaVaughn Robinson Obama is the first African-American First Lady of the United States and wife to the 44th President of the United States, Barack Obama.</p>
            <!-- end primary content -->
            <!-- begin media -->
            <div id="media">
                <!-- begin photos -->
                <div id="photos" class="half">
                    <h3>Photos</h3>
                    <div id="photo-box">
                        
                        <!-- begin single item -->
                        
                        <div class="item-box">
                            <div class="display-box">
                                    <img src="http://images.politico.com/global/news/110128_michelle_obama_smiling_ap_328.jpg" title="Michelle Obama Smiling" />
                            </div>
                        </div>
                        
                        <!-- end single item -->
                        
                    </div>
                    <!-- begin more link -->
                    
                    <!-- end more link -->
                </div>
                <!-- end photos -->
                <!-- begin videos -->
                <div id="videos" class="half">
                    <h3>Videos</h3>
                    <div id="video-box">
                        <!-- Video width: 135px, height: 82px -->
                        
         
                        
                        <!-- begin single item -->
                        
                        <div class="item-box">
                            <div class="display-box">
                                <iframe width="400" height="200" src="http://www.youtube.com/embed/TwWPrpwhMSI" frameborder="0" allowfullscreen></iframe>
                            </div>                        
                        </div>
                        
                        <!-- end single item -->
                        
                        
                        
                    </div>
                    
                    <!-- begin more link -->
                    
                    <!-- end more link -->
                </div>
                <!-- end videos -->
            </div>
            <!-- end media -->
            
            
            <!-- begin related crises -->
            <div class="crises">
                <h2>Related Crises</h2>
                <!-- begin single item -->
                <div class="item-box">
                    <div class="display-box">
                        <a href="/crisis/childhoodobesity" title="Childhood Obesity"><img src="http://www.toptenz.net/wp-content/uploads/2011/07/childhood-obesity-300x180.jpg" title="Childhood Obesity"/></a>
                    </div>
                </div>
                <!-- end single item -->
            </div>
            <!-- end related crises -->
            <!-- begin related organizations -->
            <div class="organizations">
                <h2>Related Organizations</h2>
                <!-- begin single item -->
                <div class="item-box">
                    <div class="display-box">
                        <a href="/org/aap" title="The American Academy of Pediatrics"><img src="http://instinctmagazine.com/images/stories/blogs/jhigbee/april2012/aaop.jpg" title="The American Academy of Pediatrics" /></a>
                    </div>
                </div>
                <!-- end single item -->
            </div>
            <!-- end related organizations -->
            
            
        </div>
        <!-- end primary content -->
    </div>

</body>
</html>

